.toasty {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 400px;
  height: 50px;
  border: 1px solid #000;
  box-shadow: rgb(0, 0, 0) 0px 3px 0px 0px;
  transition: 1000ms;
  transform: translateY(0);
}

.toastyText {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.error {
  background: #F1F3F5;
}

.success {
  background: #F4CA6D;
}
