.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputLabel {
  color: #fff;
  margin-bottom: 0.75rem;
}

.input {
  height: 2.2rem;
  padding: 0.75rem;
  font-size: 0.8rem;
}
