.card {
  width: 100%;
  height: 9.9rem;
  background: #fff;
  border-radius: 1.5rem;
  padding: 2rem, 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 2.8rem;
  height: 2.3rem;
}

.divider {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.dividerHeight {
  height: 8rem;
  border: 1px solid #d8d9fd;
}

.cardDataContainer {
  height: 6.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cardDataParagrapy {
  font-size: 0.8rem;
  line-height: 16.8px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .card {
    height: 15.4rem;
  }

  .image {
    width: 4.3rem;
    height: 3.7rem;
  }

  .dividerHeight {
    height: 11.4rem;
    border: 1px solid #d8d9fd;
  }

  .cardDataContainer {
    height: 8.6rem;
    justify-content: center;
  }

  .cardDataParagrapy {
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
}
