.main {
  min-height: 100vh;
  background-color: #7c6af8;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.7rem;
}

@media (min-width: 1025px) {
  .box {
    display: flex;
    flex-direction: row;
    gap: 11.8rem;
  }
}
