.form {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 1025px) {
  .form {
    margin-top: 0rem;
  }

  .formGroup {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
}

@media (min-width: 1441px) {
  .form {
    margin-top: 0rem;
    width: 38.7rem;
  }
}
