.footer {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.link {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #636e7c;
  cursor: pointer;
}

.span {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #636e7c;
}
